* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chart {
  position: relative;
}

.bar {
  fill: #33adff;
}

.bar:hover {
  fill: white;
}

#tooltip {
  background-color: #111111ee;

  color: white;
  padding: 1rem;
  text-align: center;
}

#title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.container {
  position: relative;
  width: max-content;
  padding: 2em;
  background-color: white;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  padding: 80px;
}
